<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{observation.name}}</h3>
                </div>
                <div class="panel-body">
                    <i class="wi text-lg" ng-class="conditionIcon"></i>
                    <p class="text-right">{{currentConditions}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <p class="text-lg">{{currentTime | formatDate: 'HH:mm:ss'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Conditions</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><i class="wi fa-fw fa-2x wi-thermometer" title="Temperature"></i><span>{{observation.main.temp}} &deg;{{units.temp}}</span></li>
                    <li class="list-group-item"><i class="fa fa-fw fa-2x fa-tachometer" title="Humidity"></i><span>{{observation.main.humidity}}% RH</span></li>
                    <li class="list-group-item"><i class="fa fa-fw fa-2x fa-umbrella" title="Pressure"></i><span>{{observation.main.pressure}} hPa</span></li>
                    <li class="list-group-item"><i class="wi fa-fw fa-2x wi-strong-wind" title="Wind"></i><span>{{observation.wind.speed}} {{units.wind}}</span></li>
                </ul>
                <div class="panel-footer text-right">updated {{lastUpdated | formatDate: 'HH:mm:ss'}}</div>
            </div>
        </div>
    </div>
    <div class="text-muted text-right">
        data graciously provided by <a href="https://openweathermap.org/" target="_blank">openweathermap</a>
    </div>
</div>